.player {
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: orange;
}

.container {
    width: 200px;
    margin: 0 20px;
}

.track {
    font-size: 14px;
    color: black;
}

.artist {
    font-size: 12px;
    color: gray;
}

.volume {
    margin-left: auto;
}